{% extends 'base.html.twig' %}

{% block title %}All wishes{% endblock %}

{% block body %}
    <section>
        <h2>All wishes</h2>
        <div class="wish-list">
        {% for wish in wishes %}

            <article>
                <a href="{{ path('wish_detail', {id: wish.id}) }}">{{ wish.title }}</a>
            </article>

        {% else %}
            <div>Nothing to see here!</div>
        {% endfor %}
        </div>
    </section>
{% endblock %}
